* {
    box-sizing: border-box;
  }
  body {
    background-color:#eee;
    font-size:16px;
  }
  #wrapper{
   display:grid; /* [문2-1] grid 컨테이너로 설정 */
   grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));/*행열개수정의*/
    grid-gap:1rem;
  }
  .card {
    background-color:#fff;
    box-shadow:0px 1px 5px #222;
  }
  .card > header { /*.card의 자식요소 header 선택 */
    font-size:1.5rem;  /* 24px */
    padding:0.5rem;    /* 8px */
  }
  .card > p{ /*.card의 자식요소 p 선택 */
    padding:0.5rem;
    line-height:1.6rem;
  }
  .card > img { /*.card의 자식요소 img 선택 */
    max-width:100%;
  }