
h1 {
    padding:10px;
    background-color:lavender;
    color:white;
}
.b1 {
    background-color:black;
}
#one{
    background-color: chartreuse;
    color:black;
}
#secend{
    background-color: lightblue;
    color:black;
}